[submodule "wheels/kafka"]
    path = wheels/kafka
    url = ssh://git@bitbucket.phantom.us:7999/per/kafka-python.git
    ignore = dirty
[submodule "wheels/gssapi"]
    path = wheels/gssapi
    url = ssh://git@bitbucket.phantom.us:7999/per/gssapi.git
    ignore = dirty
