[submodule "wheels/gssapi"]
    path = wheels/gssapi
    url = git@cd.splunkdev.com:phantom-external/gssapi.git
    ignore = dirty
[submodule "wheels/kafka"]
    path = wheels/kafka
    url = git@cd.splunkdev.com:phantom-external/kafka-python.git
    ignore = dirty
